@inherits LayoutComponentBase
@using Blazor.Teleport

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span>
            <Materializer Name="TopRow" />
        </span>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <Materializer Name="Bottom" />
</div>
