@page "/fetchdata"

@using Blazor.Teleport.Example.Data
@using Blazor.Teleport
@inject WeatherForecastService ForecastService

<Beam To="NavItem">
    <NavItem Icon="plus" Text="Counter" Url="counter" />
</Beam>
<Beam To="Corner">
    <span class="oi oi-list-rich" />
</Beam>
<Beam To="TopRow">
    <h3>Fetch data page</h3>
</Beam>
<Beam To="Bottom">
    This is the end of fetched data my friend!
</Beam>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
