@page "/"
@using Blazor.Teleport

<Beam To="NavItem">
    <!-- Beam multiple complex controls -->
    <NavItem Icon="plus" Text="Counter" Url="counter" />
    <NavItem Icon="list-rich" Text="Fetch data" Url="fetchdata" />
</Beam>
<!-- When navigating to counter or fetchdata, the corner will be set
     but when navigating back to index, the corner will be cleared again.
    -->
@*<Beam To="Corner">
    <span class="oi oi-home" />
</Beam>*@
<Beam To="TopRow">
    <h3>Index page</h3>
</Beam>
<Beam To="Bottom">
    Beam just plain text
</Beam>

<h1>Hello, world!</h1>

Welcome to your new app.
